{% extends 'base.html' %} {% block header %}
<h1>{% block title %}registro{% endblock %}</h1>
{% endblock %} {% block content %}
<form method="post">
  <label for="username">usuario</label>
  <input name="username" id="username" required />
  <label for="email">mail</label>
  <input name="email" id="emaiil" required />
  <label for="password">contraseña</label>
  <input type="password" name="password" id="password" required />
  <label for="verif_password">verificar contraseña</label>
  <input type="password" name="verif_password" id="verif_password" required />
  <input type="submit" value="Registro" />
</form>
{% endblock %}
